<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <header>
    <h1>{{ title }}</h1>
    <p class="subtitle">(Because it's not only <a href="https://twitter.com/philhawksworth/status/1217424233648795650">Netlifyers</a> who have these little friends)</p>
    {% block header %}{% endblock %}
  </header>

  <main>
    <div class="container">
    {% block content %}
    {{ content | safe }}
    {% endblock %}
    </div>
  </main>

  <footer>
    <div class="container">
    {% block footer %}{% endblock %}
    </div>
  </footer>

</body>
</html>
