---
title: About these pets of pals of Netlify
---

{% extends 'layouts/base.njk' %}

{% block header %}
  <p>
    <a href="/">Back to the pets</a> | <a href="{{ pkg.repository.url }}">Add your pet</a>
  </p>
{% endblock %}


{% block content %}
<p>
  this is why this exists and what you'll see if you add something
</p>
<p>
  And this is how you can add your pet
</p>
{% endblock %}


