---
title: Pets of pals of Netlify
---

{% extends 'layouts/base.njk' %}

{% block header %}
  <p>
    <a href="/about">What on earth?</a> | <a href="{{ pkg.repository.url }}">Add your pet</a>
  </p>
{% endblock %}


{% block content %}
  {%- for pet in collections.pets %}


  <p>
    {{ paths.rootURL }}
  </p>
  <section class="pet">
    <h2>{{ pet.data.name }}</h2>
    <img src="{{ paths.rootURL }}/{{ pet.data.photo }}?nf_resize=fit&h=150" alt="A photo of {{ pet.data.name }}" />
    <p>
      {{ pet.data.name }} is a {{ pet.data.behaves }} {{ pet.data.sex }}.
    </p>
  </section>
  {%- endfor %}
{% endblock %}



