<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pets of pals of Netlify</title>
</head>
<body>
{%- for pet in collections.pets %}
  <section class="pet">
    <h2>{{ pet.data.name }}</h2>
    <img src="/images/{{ pet.data.photo }}?nf_resize=fit&h=100" alt="A photo of {{ pet.data.name }}" />
    <p>
      {{ pet.data.name }} is a {{ pet.data.behaves }} {{ pet.data.sex }}.
    </p>
  </section>
{%- endfor %}
</body>
</html>
